
ANTHROPIC_API_KEY=

# https://sprites.dev
SPRITES_TOKEN=your_sprites_token

# Run: claude setup-token to authenticate claude code
CLAUDE_CODE_OAUTH_TOKEN=

# https://github.com/settings/tokens
GH_TOKEN=


# LINEAR

# We use client credentials to get acess token using our client id and secret. You # can create an oauth app in linear and get the client id and secret from there.

LINEAR_OAUTH_APP_CLIENT_ID=
LINEAR_OAUTH_APP_CLIENT_SECRET=
LINEAR_WEBHOOK_SECRET=your_webhook_signing_secret


PORT=3000

